.day-page {
	display: block;
	margin-left: 15px;
	margin-right: 50px;
	margin-top: 25px;
}
.day-date {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 12px;
	border: 1px ridge black;
	margin-top: 40px;
	text-align: center;
}
.subjects ul {
	list-style: none;
	padding: 0px;
	margin-left: 20px;
	margin-top: 20px;
	border: 2px ridge black;
}
.subjects ul li {
	text-align: center;
	height: 25px;
	width: 200px;
}
.subjects ul li:not(:first-child) {
	border-top:1px ridge black;
}
.subjects ul li:not(:last-child) {
	border-bottom:1px ridge black;
}
.subjects strong {
	margin-left: 20px;
}
.tasks strong {
	margin-left: 20px;
}
.tasks ul {
	list-style: none;
	padding: 0px;
	margin-left: 20px;
	margin-top: 20px;
	border: 2px ridge black;
}
.tasks ul li {
	text-align: center;
	height: 25px;
	width: 400px;
}
.tasks ul li:not(:first-child) {
	border-top:1px ridge black;
}
.tasks ul li:not(:last-child) {
	border-bottom:1px ridge black;
}
ul li {
	display: flex;
	align-items:center;
	justify-content: center;
	height: 30px !important;
}
.content {
	height: 100%;
	min-height:100%;
	width: auto;
	background-color: #e6e3e6;
	padding-bottom: 200px;
}
.day-name {
	display: flex;
	flex-direction: column;
}
.day-schedule {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: fit-content;
	padding: 15px;
}
.edit-btn {
	margin-top: 37px;
	margin-left: 25px;
}
